<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.example.grupoestudantildemusica">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".Utils.GEMApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Controladores.ContatoActivity">
        </activity>
        <activity android:name=".Controladores.CadastroContatosActivity"
                    android:parentActivityName=".Controladores.ContatoProfessoresListActivity">
        </activity>
        <activity android:name=".Controladores.InstrumentosActivity">
        </activity>
        <activity android:name=".Controladores.OuvidoriaActivity">
        </activity>
        <activity android:name=".Controladores.ContatoProfessoresListActivity">
        </activity>
        <activity android:name=".Controladores.BibliotecaActivity">
        </activity>
        <activity android:name=".Controladores.AulasMinistradasActivity">
        </activity>
        <activity android:name=".Controladores.HorarioActivity">
        </activity>
        <activity android:name=".Controladores.ManualAlunoActivity">
        </activity>
        <activity
                android:name=".Controladores.AjudaActivity"
                android:theme="@style/MenuTheme">
        </activity>
        <activity
                android:name=".Controladores.SobreActivity"
                android:theme="@style/MenuTheme">
        </activity>
        <activity
                android:name=".Controladores.NotasActivity"
                android:theme="@style/MenuTheme">
        </activity>
        <activity
                android:name=".Controladores.FaltasActivity"
                android:theme="@style/MenuTheme">
        </activity>
        <activity
                android:name=".Controladores.CalendarioActivity"
                android:theme="@style/MenuTheme">
        </activity>
        <activity
                android:name=".Controladores.TelaInicialActivity"
                android:theme="@style/AppTheme.Toolbar">
        </activity>
        <activity
                android:name=".Controladores.LoginActivity"
                android:theme="@style/LoginTheme">
        </activity>
        <activity android:name=".Controladores.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>